@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #333;
    color: aliceblue;
    margin-left: 100px;    
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 30px;
}

.header {
    background-color: #222;
    padding: 20px 100px;
    font-weight: 600;
}

main{
    margin: 50px 100px;
    width: 50%;
    float: left;
}

aside{
    width: 20%;
    margin-top: 50%;
    margin-left: 5%;
    float: left;
}

main .users{
    margin-bottom: 50px;
    background-color: #3e8fa0;
    padding: 20px;
}

b{
    font-weight: 700;
    color: antiquewhite;
}

.delete-icon{
    float: right;
    color: #134b57;
    cursor: pointer;
    transform: scale(2);
}

.edit-icon{
    float: right;
    margin-right: 25px;
    color: #165664;
    cursor: pointer;
    transform: calc(2);
}

.delete-icon:hover, .edit-icon:hover{
    opacity: 0.5;
}

aside form input:not([type="checkbox"])
aside form textarea, 
aside form button {
    width: 90%;
    padding: 15px 5%;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    outline: none;
    font-size: 20px;
}

aside form input [type="checkbox"]{
    margin: 10px;
}








